*{
	margin: 0 ; 
	padding: 0;  
	outline: none; 
	font-family: 'Roboto', sans-serif;
	list-style: none;
	text-decoration: none;
}
.logo img{
	width: 100%;
	height: 200px;
}
	/* Menu */
.menu {
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
	height: 40px;
	width: 100%;
}
.menu ul li {
    display: inline-block;
    padding: 20px 100px ;
    text-transform: uppercase;
    text-align: center;
    color: black;
}
/*slice*/
.slice {
	width: 100%;
	margin-top: 30px;
	position: relative;
}
.slice .left {
	width: 50%;
	height: 300px;
	float: left;
}
.slice .right {
	width: 50%;
	height: 300px;
	float: left;
}
.slice .left img {
	width: 100%;
	height: 300px;
}
.slice .right img {
	width: 100%;
	height: 300px;
} 

/*slice_below*/
.slice_below  {
	width: 100%;
	height: 300px;
}

.slice_below  img {
	width: 100%;
	height: 300px;
	float: left;
}
.slice h1 i big{
	position: absolute;
	top : 90px;
	left: 20px;
	text-align: center;
	color : white;
	width: 100%;
}


.box-title h2{
	text-align: center;  
	margin: 3em 0; 
    color:  #2c2e53 ;  
    text-transform: uppercase;   
    font-weight: 900; 
    position: relative;  
}
.box-title h2:after{
	content: "";  
	position: absolute;  
	top: 102%;  
	left: 50%;  
	width: 5em;  
	height: 4px;  
	background: #bd945f; 
	transform: translateX(-50%); 
}
.product{
	text-align: center;  
	width: 25%;  
	padding: 0 .5em; 
}
.product p{
	margin-top: .3em; 
}
.product .name{
	color: #2c2e53;  
	font-weight: 800;  
}
.product .price{
	font-weight: 600;  
}
.product .desc{
	color: #999; 
}
.product i{
	color: #ead523; 
}
.list-product{
	background: #fff;  
	padding: 1em .5em;  